@model SME.SR.Infra.GraficoBarrasVerticalDto
<style>
    h1 {
  font: 24px sans-serif;
}
.bar {
  fill: darkgray;
}

.bar:hover {
  fill: darkgray;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}
</style>
<h1>SVG Vertical Bar Chart</h1>

<svg width="960" height="500">
    <g transform="translate(40,20)">
        <g class="x axis" transform="translate(0,450)">
            @{
                var eixoXValorPosicaoInicial = 25.5;
                var eixoXValorSoma = 34;
            }
            @foreach (var item in Model.EixosX)
            {
                <g class="tick" transform="translate(@eixoXValorPosicaoInicial,0)" style="opacity: 1;">
                    <line y2="6" x2="0"></line>
                    <text dy=".71em" y="9" x="0" style="text-anchor: middle;">@item.Titulo</text>
                </g>

                eixoXValorPosicaoInicial = eixoXValorPosicaoInicial + eixoXValorSoma;

            }


            <path class="domain" d="M0,6V0H900V6"></path>
        </g>
        <g class="y axis">
            <g class="tick" transform="translate(0,450)" style="opacity: 1;">
                <line x2="-6" y2="0"></line>
                <text dy=".32em" x="-9" y="0" style="text-anchor: end;">0%</text>
            </g>
            <g class="tick" transform="translate(0,414.57250826641473)" style="opacity: 1;">
                <line x2="-6" y2="0"></line>
                <text dy=".32em" x="-9" y="0" style="text-anchor: end;">1%</text>
            </g>
            <g class="tick" transform="translate(0,379.14501653282946)" style="opacity: 1;">
                <line x2="-6" y2="0"></line>
                <text dy=".32em" x="-9" y="0" style="text-anchor: end;">2%</text>
            </g>
            <g class="tick" transform="translate(0,343.71752479924425)" style="opacity: 1;">
                <line x2="-6" y2="0"></line>
                <text dy=".32em" x="-9" y="0" style="text-anchor: end;">3%</text>
            </g>
            <g class="tick" transform="translate(0,308.290033065659)" style="opacity: 1;">
                <line x2="-6" y2="0"></line>
                <text dy=".32em" x="-9" y="0" style="text-anchor: end;">4%</text>
            </g>
            <g class="tick" transform="translate(0,272.86254133207365)" style="opacity: 1;">
                <line x2="-6" y2="0"></line>
                <text dy=".32em" x="-9" y="0" style="text-anchor: end;">5%</text>
            </g>
            <g class="tick" transform="translate(0,237.43504959848843)" style="opacity: 1;">
                <line x2="-6" y2="0"></line>
                <text dy=".32em" x="-9" y="0" style="text-anchor: end;">6%</text>
            </g>
            <g class="tick" transform="translate(0,202.0075578649031)" style="opacity: 1;">
                <line x2="-6" y2="0"></line>
                <text dy=".32em" x="-9" y="0" style="text-anchor: end;">7%</text>
            </g>
            <g class="tick" transform="translate(0,166.5800661313179)" style="opacity: 1;">
                <line x2="-6" y2="0"></line>
                <text dy=".32em" x="-9" y="0" style="text-anchor: end;">8%</text>
            </g>
            <g class="tick" transform="translate(0,131.15257439773262)" style="opacity: 1;">
                <line x2="-6" y2="0"></line>
                <text dy=".32em" x="-9" y="0" style="text-anchor: end;">9%</text>
            </g>
            <g class="tick" transform="translate(0,95.72508266414734)" style="opacity: 1;">
                <line x2="-6" y2="0"></line>
                <text dy=".32em" x="-9" y="0" style="text-anchor: end;">10%</text>
            </g>
            <g class="tick" transform="translate(0,60.297590930562116)" style="opacity: 1;">
                <line x2="-6" y2="0"></line>
                <text dy=".32em" x="-9" y="0" style="text-anchor: end;">11%</text>
            </g>
            <g class="tick" transform="translate(0,24.87009919697684)" style="opacity: 1;">
                <line x2="-6" y2="0"></line>
                <text dy=".32em" x="-9" y="0" style="text-anchor: end;">12%</text>
            </g>
            <path class="domain" d="M-6,0H0V450H-6"></path>
            <text transform="rotate(-90)" y="6" dy=".71em" style="text-anchor: end;">Frequency</text>
        </g>


        @{
            eixoXValorPosicaoInicial = 10;
            eixoXValorSoma = 34;
        }

        @*@foreach (var item in Model.EixosX)
        {

            <rect class="bar" x="@eixoXValorPosicaoInicial" width="31" y="160.66367501180912" height="@item.Valor"></rect>

            eixoXValorPosicaoInicial = eixoXValorPosicaoInicial + eixoXValorSoma;

        }*@ 
        
        <rect class="bar" x="10" width="31" y="160.66367501180912" height="289.3363249881909"></rect>
        <rect class="bar" x="44" width="31" y="397.1421823334908" height="52.85781766650922"></rect>
        <rect class="bar" x="78" width="31" y="351.4407179971658" height="98.55928200283421"></rect>


    </g>
</svg>