@model SME.SR.Infra.Dtos.Relatorios.ConselhoClasse.ConselhoClasseCabecalhoDto
@{
    ViewData["Title"] = "RelatorioConselhoClasseAtaFinal";
}
@Model.NomeDre
<h1>@Model.NomeUe</h1>
<h1>@Model.Data</h1>

