<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Páginas</title>
</head>
<body>
    <ul>
        <li>
            <a href="/controle-grade-sintetico">Relatorio Controle Grade Sintetico</a>
        </li>
    </ul>
</body>
</html>