<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Realtório Atas de Conselho</title>
</head>
<body class="body-rel-atas">
    <div class="margin-rel-atas">
        <div>
            <img class="img-logo-sgp" src="logo.png" alt="Logo SGP" />
        </div>
        <div class="titulo-sgp">SGP - Sistema de gestão Pedagógica</div>
        <div class="titulo-ata">ATA FINAL DE RESULTADOS</div>

        <div class="fonte-14 header-pagina">
            <table>
                <tbody>
                    <tr>
                        <td class="campo-dre">DRE: @Model.Dre</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
