@using SME.SR.Infra;

@model HistoricoEscolarDTO

<div class="observacoes">
    <p class="textoEsqueda" style="font-weight: bold">OBSERVAÇÕES COMPLEMENTARES </p>
    <p class="textoEsqueda">@Model.ObservacaoComplementar</p>
</div>
