@using SME.SR.Infra;

@model HistoricoEscolarDto

<div class="observacoes">
    <p class="textoEsqueda" style="font-weight: bold;">Observações complementares </p>
    <p class="textoEsqueda" style="word-wrap: break-word; height: auto;">@Model.ObservacaoComplementar</p>
</div>
