@using SME.SR.Infra;

@model HistoricoEscolarFundamentalDto

<div class="observacoes">
    <p class="textoEsqueda" style="font-weight: bold">Observações complementares </p>
    <p class="textoEsqueda">@Model.ObservacaoComplementar</p>
</div>
