@using SME.SR.HtmlPdf
@using SME.SR.Infra.RelatorioPaginado
@using SME.SR.Infra.RelatorioPaginado.Dtos

@model RelatorioPaginadoDto

<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@Model.Cabecalho.NomeRelatorio</title>
</head>

<body class="body-relatorio">
    <style>
        .tblTopo th, td {
            padding: 3px 0;
            text-align: left;
        }

        .body-relatorio {
            margin: 0.5cm auto;
            font-family: 'Roboto Mono';
            width: 21cm;
            min-height: 29.7cm;
            background: white;
            color: #42474a;
        }

        .titulo-sgp {
            text-align: right;
            font-size: 14px;
            font-weight: bold;
        }

        .titulo-relatorio {
            text-align: right;
            font-size: 14.5px;
            margin-top: 7px;
        }

        .header-pagina {
            margin-top: 33px;
            margin-bottom: 22px;
        }

        .header-pagina td {
            text-align: left;
        }

        table {
            display: table;
            width: 100%;
            border-color: #42474a;
            empty-cells: show;
            border: none;
            border-collapse: collapse;
        }

        thead {
            background-color: #f3f3f3;
        }

        th {
            border: 1px solid #42474a;
            font-weight: normal;
        }

        td {
            border: 1px solid #42474a;
            text-align: center;
        }

        .tabela-cabecalho tr {
            font-size: 10px;
            height: 24px;
        }

        .mt-25 {
            margin-top: 25px;
        }

        .fonte-14 {
            font-size: 14px !important;
        }

        .alinhar-esquerda {
            text-align: left;
        }

        .espaco-esquerda-15 {
            padding-left: 15px;
        }

        .negrito {
            font-weight: bold;
        }

        .sem-border-bottom {
            border-bottom: 0;
        }

        .sem-border-top {
            border-bottom: 0;
        }

        .thLimpo {
            background-color: #ffffff;
            border-top: 0;
            border-bottom: 0;
            height: 22px;
        }

        .img-logo-sgp {
            height: 64px;
            float: left;
        }

        .centralizar {
            text-align: center;
        }

        .coluna-vazia {
            border: 0;
            background: white;
        }

        .quebra-palavra {
            word-break: break-word;
        }

        .contador-pagina {
            float: right;
            font-size: 10px;
        }

        .titulo-sgp-rodape {
            text-align: left;
            font-size: 10px;
            float: left;
        }

        .footer {
            page-break-after:always;   
            margin-bottom: 10px;
            float:none
        }

        .pagina{
            float:none
        }
    </style>
@{
	foreach(var pagina in Model.Paginas) 
	{
		<div id="page@(pagina.Indice)" class="pagina">
			<header id="header">
                <div>
                    <img class='img-logo-sgp' src='@(SmeConstants.LogoSmeMono)' alt='Logo SGP' />
                </div>
                <div class='titulo-sgp'>SGP - SISTEMA DE GESTÃO PEDAGÓGICA</div>
                <div class='titulo-relatorio'>
                    <p style='margin-bottom: 0'>
                        @Model.Cabecalho.NomeRelatorio.ToUpper()
                    </p>
                </div>
				@await Html.PartialAsync(Model.ViewCustomParametroCabecalho, Model.Cabecalho)
			</header>
			<div id="content">
                @if (pagina.GetType() == typeof(PaginaComGrafico)){
                    @await Html.PartialAsync("Grafico.cshtml", (PaginaComGrafico)pagina)
                } else {
                    @await Html.PartialAsync(Model.ViewCustomConteudo, pagina)
                }
			</div>
			<footer class="footer">
                <div class="titulo-sgp-rodape">
                    SGP - SISTEMA DE GESTÃO PEDAGÓGICA 
                </div>
			</footer>
		</div>
	}
}
</body>
</html>