@model SME.SR.Infra.RelatorioAcompanhamentoAprendizagemDto
<!DOCTYPE html>
    <html lang="pt-BR">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>RELATÓRIO DO ACOMPANHAMENTO DA APRENDIZAGEM</title>
    </head>
    <body class="body-rel-acompanhamento-aprendizagem">
        <style type="text/css">
            thead {
                display: table-header-group;
            }

            tfoot {
                display: table-row-group;
            }

            tr {
                page-break-inside: avoid;
            }
            @@media print {
            .element-that-contains-table {
                overflow: visible !important;
                }
            }
        </style>
        <div class="element-that-contains-table">
            <table>
                <thead>
                    <tr>
                        <th>
                            HEADER FIXO
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            @{
                                <div>Nº24 - AGATHA HAIANNE VASQUEZ ARTEAGA</div>
                                <div style='page-break-after:always'>ASSINATURA</div>
                                <div>Nº30 - ANA CLARA ACIOLE DOS SANTOS</div>
                                <div>ASSINATURA</div>
                            }
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        @*@{
            <div>Nº24 - AGATHA HAIANNE VASQUEZ ARTEAGA</div>
            <div style='page-break-after:always'>ASSINATURA</div>
            <div>Nº30 - ANA CLARA ACIOLE DOS SANTOS</div>
            <div>ASSINATURA</div>
        }*@
    </body>
</html>
