@model SME.SR.Infra.RelatorioAcompanhamentoAprendizagemCabecalhoDto

@{
    int contadorQuebrarPagina = 0;

    Microsoft.AspNetCore.Html.IHtmlContent MontarCabecalho()
    {
        contadorQuebrarPagina = contadorQuebrarPagina + 8;
        var str =
   $@"<div>
<img class='img-logo-sgp' src='logoMono.png' alt='Logo SGP' />
</div>
<div class='titulo-sgp'>SGP - SISTEMA DE GESTÃO PEDAGÓGICA</div>
<div class='titulo-relatorio'>RELATÓRIO DO ACOMPANHAMENTO DA APRENDIZAGEM</div>
<div class='titulo-sub-relatorio'>{Model.Semestre}</div>
<div class='fonte-14 header-pagina'>
<table>
<tbody>
<tr>
<td class='campo-dre espaco-esquerda-15'>DRE: {Model.Dre}</td>
<td class='campo-ue espaco-esquerda-15'>UE: {Model.Ue}</td>
</tr>
</tbody>
</table>
<table>
<tbody>
<tr>
<td class='campo-bimestre espaco-esquerda-15'>TURMA: {Model.Turma}</td>
<td class='campo-componente-curricular espaco-esquerda-15'>
PROFESSORES: {Model.Professores}
</td>
</tr>
</tbody>
</table>
</div>
";

        return Html.Raw(str);
    }
}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RELATÓRIO DO ACOMPANHAMENTO DA APRENDIZAGEM</title>
</head>
<body class="body-rel-acompanhamento-aprendizagem">
    <style>
        .body-rel-acompanhamento-aprendizagem {
            margin: 0.5cm auto;
            font-family: Roboto, sans-serif;
            width: 21cm;
            min-height: 29.7cm;
            background: white;
            color: #42474a;
            position: relative;
        }

        .titulo-sgp {
            text-align: right;
            font-size: 14px;
            font-weight: bold;
        }

        .titulo-relatorio {
            text-align: right;
            font-size: 14.5px;
            margin-top: 7px;
        }

        .titulo-sub-relatorio {
            text-align: right;
            font-size: 12.5px;
            margin-top: 7px;
        }

        .img-logo-sgp {
            height: 64px;
            float: left;
        }

        .header-pagina {
            margin-top: 33px;
            margin-bottom: 22px;
        }

            .header-pagina td {
                text-align: left;
            }

        .campo-dre {
            width: 20%;
        }

        .campo-ue {
            width: 80%
        }

        .campo-ano {
            width: 15%
        }

        .campo-bimestre {
            width: 20%;
            border-top: none;
        }

        .campo-componente-curricular {
            width: 80%;
            border-top: none;
        }

        .campo-usuario {
            width: 60%;
            border-top: none;
        }

        .campo-rf-data {
            width: 20%;
            border-top: none;
        }

        table {
            display: table;
            width: 100%;
            border-color: #42474a;
            empty-cells: show;
            border: none;
            border-collapse: collapse;
        }

        thead {
            background-color: #f3f3f3;
        }

        th {
            border: 1px solid #42474a;
            font-weight: normal;
        }

        td {
            border: 1px solid #42474a;
            text-align: center;
            padding: 3px 0;
        }

        .tabela-alunos tr {
            font-size: 12px;
            height: 24px;
        }

        .mt-25 {
            margin-top: 25px;
        }

        .fonte-14 {
            font-size: 14px !important;
        }

        .alinhar-esquerda {
            text-align: left;
        }

        .espaco-esquerda-15 {
            padding-left: 15px;
        }

        .rodape-rel-aprendizagem {
            font-size: 12px;
            position: absolute;
            bottom: 0;
            right: 0;
            background: grey;
        }

        .contador-pagina {
            float: right;
            font-size: 15px;
        }

        .sem-border-bottom {
            border-bottom: 0;
        }

        .sem-border-top {
            border-top: 0;
        }

        .somente-border-top {
            border-bottom: 0;
            border-left: 0;
            border-right: 0;
        }

        .fundo-cinza {
            background-color: #f3f3f3;
        }
    </style>

    <div>
        @MontarCabecalho()
        #CONTEUDO_ALUNO
    </div>
</body>
</html>
