@model SME.SR.Infra.RelatorioFaltasFrequenciaDto
@{ int contadorQuebrarPagina = 0;
    int contadorMaximoLinhasPorPagina = 46;
    int contadorPagina = 0;
    var retornoVerificacao = string.Empty;


    string VerificaQuebra()
    {
        if (contadorQuebrarPagina >= contadorMaximoLinhasPorPagina)
        {
            contadorQuebrarPagina = 0;

            var str = MontarCabecalho();
            return $@"<div style='page-break-before:always' />" + str;

        }
        return string.Empty;

    }

    string MontarCabecalho()
    {
        contadorQuebrarPagina = contadorQuebrarPagina + 12;
        var str =
           $@" <div>
<img class='img-logo-sgp' src='logoMono.png' alt='Logo SGP' />
</div>
<div class='titulo-sgp'>SGP - SISTEMA DE GESTÃO PEDAGÓGICA</div>
<div class='titulo-plano-aula'>
<p style='margin-bottom: 0'>
    FALTAS
</p>
</div>
<div class='fonte-14 header-pagina'>
<table class='tblTopo'>
    <tbody>
        <tr>
            <td width='35%'>DRE: {Model.Dre}</td>
            <td width='35%'>UE: {Model.Ue}</td>
            <td width='15%'>ANO: {Model.Ano}</td>
        </tr>
    </tbody>
</table>
<table>
    <tbody>
        <tr>
            <td class='campo-bimestre'>BIMESTRE: {Model.Bimestre}</td>
            <td class='campo-componente-curricular'>
                COMPONENTE CURRICULAR: {Model.ComponenteCurricular}
            </td>
        </tr>
    </tbody>
</table>
<table>
    <tbody>
        <tr>
            <td class='campo-usuario'>USUÁRIO: {Model.Usuario}</td>
            <td class='campo-rf-data'>RF: {Model.RF}</td>
            <td class='campo-rf-data'>DATA: {Model.Data}</td>
        </tr>
    </tbody>
</table>
</div>";

        return str;

    }

    string MontaTitulo(string valor)
    {
        contadorQuebrarPagina = contadorQuebrarPagina + 1;
        return $@"<table class='fixed'>
    <tr>
        <td width='100%' class='td-turma-bimestre'>{valor}</td>
    </tr>
</table>";
    }

    string LinhaEmBranco(bool bordaTop = true)
    {
        var borda = bordaTop ? "" : "border-top:none;";
        contadorQuebrarPagina = contadorQuebrarPagina + 1;
        return $@"<table>
    <tr>
        <td style='{borda} border-bottom: none'><br/></td>
    </tr>
</table>";
    }

    string MontaCabecalhoEstrutura()
    {
        contadorQuebrarPagina += 1;
        var str = "";
        str += LinhaEmBranco();
        str += @"<table class='fixed'>
                                        <tr>
                                            <td width='10%' class='td-titulo-1'>N°</td>
                                            <td width='10%' class='td-titulo-1'>TURMA</td>
                                            <td width='60%' class='td-titulo-2'>NOME</td>";
        if (Model.ExibeFaltas) { str += "<td width='10%' class='td-titulo-1'>FALTAS</td>"; }
        if (Model.ExibeFrequencia) { str += " <td width='10%' class='td-titulo-1'>FREQ. %</td>"; }
        str += "</tr>";
        return str;
    }

    string MontaEstrutura()
    {
        var str = "";

@if (Model.Dres.Any())
{
    foreach (var dre in Model.Dres)
    {
        if (Model.Dre == "Todas")
        {
            str += MontaTitulo(dre.NomeDre);
        }

        if (dre.Ues.Any())
        {
            foreach(var ue in dre.Ues)
            {
                if (Model.Ue == "Todas")
                {
                    str += MontaTitulo(ue.NomeUe);
                }

                str += MontaTitulo(Model.Modalidade);
                if(ue.TurmasAnos.Any())
                {
                    foreach (var ano in ue.TurmasAnos)
                    {
                        if(!ano.Nome.Equals("Turma de Programa"))
                        {
                            str += MontaTitulo(ano.Nome);
                        }

                        if(ano.Bimestres.Any())
                        {
                            foreach(var bimestre in ano.Bimestres)
                            {
                                str += MontaTitulo(bimestre.NomeBimestre);
                                if(bimestre.Componentes.Any())
                                {
                                    foreach(var componente in bimestre.Componentes)
                                    {
                                        if(Model.ComponenteCurricular == "Todos" || Model.ComponenteCurricular == string.Empty)
                                        {
                                            str += MontaTitulo(componente.NomeComponente);
                                        }
                                        str += MontaCabecalhoEstrutura();
                                        var ultimoAluno = componente.Alunos.LastOrDefault().CodigoAluno.ToString();
                                        foreach (var aluno in componente.Alunos)
                                        {
                                            str += $@"<tr>
                                            <td width='10%' class='td-valor-1'>{aluno.NumeroChamada}</td>
                                            <td width='10%' class='td-valor-1'>{aluno.NomeTurma}</td>
                                            <td width='60%' class='td-valor-2'>{aluno.NomeAluno}</td>";
                                            if (Model.ExibeFaltas) { str += $"<td width='10%' class='td-valor-1'>{aluno.NumeroFaltasNaoCompensadas}</td>"; }
                                            if (Model.ExibeFrequencia) { str += $" <td width='10%' class='td-valor-1'>{aluno.Frequencia}</td>"; }
                                            str += "</tr>";

                                            contadorQuebrarPagina += 1;
                                            retornoVerificacao = VerificaQuebra();
                                            if (retornoVerificacao != string.Empty)
                                            {
                                                str = str + $@"</table>{retornoVerificacao}";
                                                if (Model.Dre == "Todas")
                                                {
                                                    str += MontaTitulo(dre.NomeDre);
                                                }
                                                if (Model.Ue == "Todas")
                                                {
                                                    str += MontaTitulo(ue.NomeUe);
                                                }
                                                str += MontaTitulo(Model.Modalidade);
                                                if (!ano.Nome.Equals("Turma de Programa"))
                                                {
                                                    str += MontaTitulo(ano.Nome);
                                                }
                                                str += MontaTitulo(bimestre.NomeBimestre);
                                                if (Model.ComponenteCurricular == "Todos" || Model.ComponenteCurricular == string.Empty)
                                                {
                                                    str += MontaTitulo(componente.NomeComponente);
                                                }
                                                str += $"{MontaCabecalhoEstrutura()}";
                                            }

                                        }
                                        str += @"</table>";
                                        if(Model.UltimoAluno != $"{dre.NomeDre}{ultimoAluno}")
                                            str += LinhaEmBranco(false);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
    return str;
} }
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Relatório de Faltas e Frequência</title>
</head>

<body class="body-rel-faltas-frequencia">
    <style>
        .body-rel-faltas-frequencia {
            margin: 0.5cm auto;
            font-family: Roboto, sans-serif;
            width: 21cm;
            min-height: 29.7cm;
            background: white;
            color: #42474a;
        }

        .titulo-sgp {
            text-align: right;
            font-size: 14px;
            font-weight: bold;
        }

        .titulo-plano-aula {
            text-align: right;
            font-size: 14.5px;
        }

        .img-logo-sgp {
            height: 64px;
            float: left;
        }

        .header-pagina {
            margin-top: 33px;
            margin-bottom: 22px;
        }

            .header-pagina td {
                text-align: left;
                padding: 4px;
                padding-left: 15px;
            }

        .campo-dre {
            width: 25%;
        }

        .campo-ue {
            width: 60%;
        }

        .campo-ano {
            width: 15%;
        }

        .campo-componente-curricular {
            width: 80%;
            border-top: none;
        }

        .campo-bimestre {
            width: 20%;
            border-top: none;
        }

        .campo-usuario {
            width: 60%;
            border-top: none;
        }

        .campo-rf-data {
            width: 20%;
            border-top: none;
        }

        table {
            display: table;
            width: 100%;
            border-color: #42474a;
            empty-cells: show;
            border: none;
            border-collapse: collapse;
        }

        thead {
            background-color: #f3f3f3;
        }

        th {
            border: 1px solid #42474a;
            font-weight: normal;
        }

        td {
            border: 1px solid #42474a;
        }

        .fonte-16 {
            font-size: 16px !important;
        }

        .fonte-14 {
            font-size: 14px !important;
        }

        .fonte-12 {
            font-size: 12px !important;
        }

        .alinhar-esquerda {
            text-align: left;
        }

        .rodape-rel-faltas-frequencia {
            margin-top: 10px;
            font-size: 9px;
            font-weight: bold;
        }

        .titulo-sgp-rodape {
            float: left;
        }

        .contador-pagina {
            float: right;
            font-size: 15px;
        }

        .thLimpo {
            background-color: #ffffff;
        }

        .tb-head {
            background-color: #f3f3f3;
            text-align: left;
            font-size: 16px;
            padding: 10px;
            padding-left: 20px;
        }

        .td-turma-bimestre {
            background-color: #f3f3f3;
            text-align: center;
            font-size: 16px;
            padding: 4px;
            border-bottom: none;
        }

        .td-titulo-1 {
            background-color: #f3f3f3;
            text-align: center;
            font-size: 14px;
            padding: 4px;
            border-bottom: none;
        }

        .td-titulo-2 {
            background-color: #f3f3f3;
            text-align: left;
            font-size: 14px;
            padding: 4px;
            padding-left: 10px;
            border-bottom: none;
        }

        .td-valor-1 {
            text-align: center;
            font-size: 12px;
            padding: 2px;
            padding: 4px;
        }

        .td-valor-2 {
            text-align: left;
            font-size: 12px;
            padding: 4px;
            padding-left: 10px;
        }

        .caixa-1 {
            text-align: justify;
            padding: 20px 15px 20px 15px;
        }

        .caixa-2 {
            padding: 10px 15px 10px 15px;
            text-align: justify;
            border-top: none;
        }

        .h-50 {
            height: 50px;
        }

        .m-30 {
            margin-top: 30px;
        }

        .tabela-objetivos-items-tr {
            height: 50px;
        }

        .tabela-objetivos-items-titulo {
            padding: 20px 15px 20px 15px;
            border-top: none;
            text-align: center;
            font-weight: bold;
            width: 15%;
        }

        .tabela-objetivos-items-descricao {
            border-top: none;
            width: 85%;
            text-align: justify;
            padding: 5px 15px 5px 15px;
            font-size: 14px;
        }

        table.fixed {
            table-layout: fixed;
        }

            table.fixed td {
                overflow: hidden;
            }
    </style>
    <div>
        @Html.Raw(MontarCabecalho())
        @Html.Raw(MontaEstrutura())
    </div>
</body>
</html>
